.team-member {
    text-align: center;
    max-width: 200px;
}

.team-member img {
    width: 196px;
    height: 196px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.team-container {
    margin-top: 150px;
}
